.App {
  text-align: center;
  padding-top: 20px;
}

.forecast{
  width: 70%;
  margin: auto;
  padding: 30px;
}

.current{
  width: 30%;
  margin: auto;
  padding: 30px;
}

.navbar span{
  padding: 10px;
}

